body{
  font-family: sans-serif;
  width: 75%;
  margin: auto;
  background: #CCC;
}

h1 {
  margin: auto;
  text-align: center;
}

body img {
  margin: auto;
  padding-left: 7%;
  padding-right: 10%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
